body{
 background-color: black;
 color: white;
}
.center{
    text-align: center;
}
h3{
    padding: 50px;
}
h1{
    color: purple;
}

a{
    text-decoration: none;
    color:blue;

    
  
}
.center{
    align-items: center;
}
ul{
  justify-content: space-between;
    align-items: center;
    padding: 50px;
    list-style-type: none;
}
h4{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    list-style-type: none;
    color: red;
}
